body{
    background-color:rgb(12, 71, 78) 100%;
    background-size: 300px 525px;
    background-repeat: no-repeat;
}

#info{
    font-family:fantasy;
    color: white;
}

.collapsible {
    background-color: rgb(80, 73, 179);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: black solid 1px;
  }

  .cactive,
  .collapsible:hover {
    background-color: rgb(9, 0, 128);
  }

  .content {
    display: none;
    overflow: hidden;
    background-color: rgba(9, 0, 128, 0.342);
    width: 100%;
    color: white;
    border: black solid 1px;

  }