/* The device with borders */
.smartphone {
    position: relative;
    width: 300px;
    height: 525px;
    margin-left: 40%; 
    margin-top: -125px;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 900px;
    height: 160px;
    margin-top: 130px;
    }

  body {
  background: radial-gradient(rgb(2, 35, 78) 0%, rgb(12, 71, 78) 100%);
  }

  
  #name{
    margin-left: 85%;
    font-family: fantasy;
    color:rgb(145, 173, 172)
  }

  #logo{
    border-radius: 12px;
    height: 150px;
    width: 200px;
    }
  
  progress{
   margin-left: 5px;
  }